body {
  height: 100vh;
}

.tile {
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: opacity 300ms ease-in;
  will-change: opacity;
}

.tile.loaded {
  opacity: 1;
}

.coffee {
  text-align: center;
  opacity: 1;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  grid-template-rows: min-content auto 1fr min-content;
  padding: 24px;
  background-color: rgba(20,20,20,0.7);
}

.spacer {
  flex-grow: 1;
}